{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if tasks_list|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks_list %}
                <tr>
                    <td>{{ task }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    {% if task.is_completed == True %}
                    <td>Done</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>

                {% endfor %}
                {% else%}
                <p>You have no tasks</p>

            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
