{% extends 'base.html' %}
{% block content %}
{% load markdownify %}

<div>
    <h1> {{ project_details }} </h1>
    <p> {{ project.description|markdownify }} </p>
    <h2>Tasks</h2>
    <a href="{% url 'create_task' %}">Create a new task</a>
    {% if project_details.tasks.all|length > 0 %}
    <table>
        <theader>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </theader>
        <tbody>


            {% for task in project_details.tasks.all %}
            <tr>
                <td>{{ task.name }} </td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date}}</td>
                <td>{{ task.is_completed }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>This project has no tasks</p>



    {% endif %}
</div>
</main>

{% endblock content %}
</body>

</html>
