{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        {% if user.is_authenticated %}
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if list_projects %}
        <table>
            <thead>
                <td>Name</td>
                <td>Number of tasks</td>
            </thead>
            <tbody>
                {% for project in list_projects %}
                <tr>
                    <td><a href="{% url 'show_project' project.pk %}">{{ project.name }}</a></td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You are not assigned to any projects</p>

        {% endif %}
        {% endif %}
    </div>

</main>
{% endblock content %}}
